<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PassportJS - Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <style>
    nav {
      background: #ffffff;
      padding: 5px 10px;
    }

    nav ul {
      max-width: 960px;
      margin: 0 auto;
      padding: 0;
    }

    nav li {
      list-style-type: none;
      display: inline-block;
      margin: 0 10px 0 0;
    }

    nav a {
      color: #ffffff;
      font-size: 16px;
      background: rgba(20, 1, 1, 0.2);
      text-decoration: none;
      padding: 8px 10px;
      display: block;
      border-radius: 5px;
    }

    body {
      font-family: 'Poppins', sans-serif;
      background: #007bff;
      background: linear-gradient(to right, #0062E6, #33AEFF);
    }

    .btn-login {
      font-size: 0.9rem;
      letter-spacing: 0.05rem;
      padding: 0.75rem 1rem;
    }

    .btn-google {
      color: white !important;
      background-color: #ea4335;
    }

    .btn-facebook {
      color: white !important;
      background-color: #3b5998;
    }

    .btn-github {
      color: white !important;
      background-color: #1f1f0f;
    }

    .btn-linkedin {
      color: white !important;
      background-color: #0267c1;
    }
  </style>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (user) { %>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/auth/logout">Log out</a></li>
      <li><a href="/auth/social/logout">Log out</a></li>
      <% } else { %>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/register">Register</a></li>
      <% } %>
    </ul>
  </nav>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
              <form action="/auth/login" method="POST">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="email" placeholder="name@example.com">
                  <label for="email">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="password" placeholder="Password">
                  <label for="password">Password</label>
                </div>

                <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                  <label class="form-check-label" for="rememberPasswordCheck">
                    Remember password
                  </label>
                </div>
                <div class="d-grid">
                  <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Sign
                    in</button>
                </div>
                <hr class="my-4">
                <div class="d-grid mb-2">
                  <a class="btn btn-google btn-login text-uppercase fw-bold" href="/auth/social/google/">
                    <i class="fab fa-google me-2"></i> Sign in with Google
                  </a>
                </div>
                <div class="d-grid mb-2">
                  <a class="btn btn-facebook btn-login text-uppercase fw-bold" href="/auth/social/facebook/">
                    <i class="fab fa-facebook me-2"></i> Sign in with Facebook
                  </a>
                </div>
                <div class="d-grid mb-2">
                  <a class="btn btn-github btn-login text-uppercase fw-bold" href="/auth/social/github/">
                    <i class="fab fa-github me-2"></i> Sign in with Github
                  </a>
                </div>
                <div class="d-grid mb-2">
                  <a class="btn btn-linkedin btn-login text-uppercase fw-bold" href="/auth/social/linkedin/">
                    <i class="fab fa-linkedin me-2"></i> Sign in with LinkedIn
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>